version: "2"
services:
  web:
    container_name: laramove_web
    build: .
    ports:
    - "8080:8080"
    depends_on:
    - mongo
    environment:
      MONGODB_URL: mongodb://user:password@mongod:21017/lmdb
 
  mongo:
    image: aashreys/mongo-auth:latest
    environment:
      - AUTH=yes
      - MONGODB_ADMIN_USER=root
      - MONGODB_ADMIN_PASS=password
      - MONGODB_APPLICATION_DATABASE=lmdb
      - MONGODB_APPLICATION_USER=user
      - MONGODB_APPLICATION_PASS=password
    ports:
      - "27017:27017"
 